/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

/* general */

:root {
	--color-background: #000000;
	--color-secondary: #222222;
	--color-primary: #ffffff;
	--color-share: #4bc800;
	--color-end: #bd2423;
    --color-background-txt: #4a4a4a;
}

/* container */

.container{
    background-color: var(--color-background);
    color: var(--color-primary);
    width: 100%;
    height: 100vh;
}

/* debug */
.debug{
    border: 1px solid red;
}

/* header */
header{
    height: 50px;
}

header div{
    padding: 5px 5px;
    background-color: var(--color-background-txt);
    font-size: 0.8em;
    border-radius: 5px;
    margin: 3px;
}

/* main */
main{
    height: calc(100% - 50px - 70px);
    width: 100%;
    overflow-y: auto;
    padding: 20px 50px;
}

/* toolbar */

.toolbar{
    background-color: var(--color-secondary);
    height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

/* utility flex */
.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.j-start{
    justify-content: flex-start;
}

.j-end{
    justify-content: flex-end;
}

.a-start{
    align-self: flex-start;
    align-content: flex-start;
}

.a-center{
    align-content: center;
}

.txt-center{
    text-align: center;
}

.gap{
    gap: 5px;
}

.stretch-no{
    align-self: auto;
}

/* utility position */

.p-rel{
    position: relative;
}

.p-abs{
    position: absolute;
}
/* guest cards */

.guest-card{
    width: calc(100% / 7 - 5px);
    aspect-ratio: 16 / 9;
    background-color: yellow;
    min-width: 150px;
}

.guest-card>img{
    width: 100%;
    height: 100%;
    display: block;
}

.guest-name{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    color: var(--color-primary);
    font-size: 0.7em;
    padding: 3px;
}